#login-box
  %i.fa.fa-remove.login-toggle
  = render 'shared/login_form'
  = render 'shared/sign_up_form'
= render 'shared/analytics/google'
= javascript_include_tag 'application', 'data-turbolinks-track' => true

- content_for :page_javascript do
  :javascript
    $().ready(function() {
      $('.carousel').carousel();

      $('.send-form').validate({
        submitHandler: function() {
          var curForm = $('.send-form');
          $("<div />").addClass("formOverlay").appendTo(curForm);

          $.ajax({
            url: 'mail.php',
            type: 'POST',
            data: curForm.serialize(),
            success: function(data) {
              var res = data.split("::");
              curForm.find("div.formOverlay").remove();
              curForm.prev('.expMessage').html(res[1]);
              if (res[0] == 'Success') {
                curForm.remove();
                curForm.prev('.expMessage').html('');
              }
            }
          });
          return false;
        }
      })
    })
= yield :page_javascript
